#header{
border:1px solid green;
padding:20px;
margin:10px;
height:20px;
}
#left{
border:1px solid black;
height:800px;
width:500px;
margin:10px;
float:left;
}
#right{
border:1px solid black;
height:800px;
width:500px;
margin:10px;
float:left;
}
#middle{
border:1px solid black;
height:800px;
width:820px;
margin:10px;
float:left;
}
#footer{
border:1px solid green;
padding:20px;
margin:10px;
height:20px;
clear:both;
}